html{
    margin-left: -10px;
}
h1{
    font-family: 'Montserrat', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}
.blue-bg {
    position: fixed;
    background-image: url("images/Shane_Moyer14149_hires.jpg");
    background-size: cover;
    top: 0;
    height: 1000px;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

/*.white-bgH{*/
    /*position: absolute;*/
    /*top: -70px;*/
    /*min-height: 280px;*/
    /*width: 100%;*/
    /*height: auto;*/
    /*transform: skewY(-5deg);*/
    /*!*background: black url("images/shane5.jpg") no-repeat;*!*/
    /*background-size: contain;*/
/*}*/

.white-bg{
    position: absolute;
    top: 1650px;
    background-color: rgba(0, 0, 0,0.9);
    min-height: 200px;
    margin: 210px 0px;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
}

/*MUSIC*/
.white-bg2{
    position: absolute;
    top: 650px;
    background-color: rgba(90,210,235,0.3);
    min-height: 200px;
    margin: 210px 0px;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
    border-top: 3px solid cyan;
    border-bottom: 3px solid steelblue;
}

/*MUSIC VIDEOS*/
.white-bg3{
    position: absolute;
    top: 1000px;
    background-color: rgba(27,43,88,0.3);
    min-height: 200px;
    margin: 210px 0px;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
    border-top: 3px solid blue;
    border-bottom: 3px solid darkblue;
}

.white-bg4{
    position: absolute;
    top: 1550px;
    background-color: rgba(0, 0, 0,0.3);
    min-height: 200px;
    margin: 210px 0px;
    width: 100%;
    height: auto;
    transform: skewY(-5deg);
}

.content {
    position: absolute;
    top: 1630px;
    margin: 250px 10vw;
    max-width: 100%;
    background-color: transparent;
    transform: skewY(-5deg);
}

.content2 {
    position: absolute;
    top: 575px;
    margin: 250px 10vw;
    max-width: 100%;
    background-color: transparent;
    transform: skewY(-5deg);
    font-size: 75px;
    color: red;
    margin-left: 25px;
}

.content3 {
    position: absolute;
    top: 900px;
    margin: 250px 10vw;
    max-width: 100%;
    background-color: transparent;
    transform: skewY(-5deg);
    margin-left: 25px;
}

.content4 {
    position: absolute;
    top: 1575px;
    margin: 250px 10vw;
    max-width: 100%;
    background-color: transparent;
    transform: skewY(-5deg);
    margin-left: 25px;
}

/*.shadowH{*/
    /*box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);*/
    /*border-bottom: 5px black;*/
/*}*/

/*.shadow{*/
    /*box-shadow: -2px -5px 5px 0px rgba(0, 0, 0,0.3);*/
    /*border-bottom: 5px black;*/
/*}*/

/*.shadow2{*/
    /*box-shadow: -2px -5px 5px 0px rgba(0, 0, 0,0.3);*/
/*}*/

/*.shadow3{*/
    /*box-shadow: -2px -5px 5px 0px rgba(0, 0, 0,0.3);*/
/*}*/

/*.shadow4{*/
    /*box-shadow: -2px -5px 5px 0px rgba(0, 0, 0,0.3);*/
/*}*/

#bio{
    font-size: 20px;
    font-family: SansSerif;
    text-align: center;
    color: whitesmoke;
}
#bioT{
    font-family: Montserrat;
    font-size: 40px;
    text-align: center;
    color: whitesmoke;
}
.h1{
    font-family: Montserrat;
    font-size: 150px;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

#fbook{
    height: 110px;
    width: 110px;
    display: inline-block;
    float: right;
    margin-top: 205px;
    margin-right: -105px;
}

#twitter{
    height: 100px;
    width: 100px;
    display: inline-block;
    float: right;
    margin-top: 295px;
    margin-right: -95px;
}

#spotify {
    height: 90px;
    width: 90px;
    display: inline-block;
    float: right;
    margin-top: 480px;
}

#instagram{
    height: 80px;
    width: 80px;
    display: inline-block;
    float: right;
    margin-top: 390px;
    margin-right: -85px;
}

#video{
    float: left;
    margin-left: 80px;
    margin-top: -50px;
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}

#video2{
    float: right;
    margin-left: 40px;
    margin-top: -50px;
    box-shadow: -2px -5px 5px 0px rgba(0,0,0,0.3);
}


